.colecoes {
		display: flex;
}

.colecoes span {
	padding-left: 30px;
	text-align: justify;
	margin: auto 0px;
	font-size: 17px;
	text-shadow: 0.2px 0.2px 0.4px grey;
	line-height: 1.4;
}

.colDidaticos span {
	padding-right: 30px;
}

.col-logo-g {
	width: 340px;
	margin: auto auto;
}

.col-capa {
	width: 50%;
	margin: auto 0px;
}

.col-capa  img {
	width: 100%;
	max-height: 100%;
}

.livro-info {
	width: 49%;
	padding-left: 10px;
	margin: auto 0px;
}

.autores-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.autores-letra {
	display: flex;
	align-items: center;
	width: 49%;
	flex-direction: row;
}

.autores-letra h4 {
	font-family: monospace;
	font-size: 40px;
	color: #b83445;
	line-height: normal;
}

.autores-nomes {
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	justify-content: center;
}

.autores-nomes a {
	color: black;
	font-size: 18px;
	line-height: 130%
}

.autores-nomes i {
	font-size: 11px;
}

.autores-nomes a:focus , .autores-nomes a:hover{
	color: #b83445;
}

.autor-pag {
	width: 100%;
	padding: 30px 30px !important;
	flex-direction: column;
}

.autor-pag .autor-foto {
	width: 37%;
}

.autor-pag .autor-foto img {
	width: 100%;
}

.autor-main {
	display: flex;
	justify-content: space-between;
}

.autor-bio {
	width: 57%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.autor-bio h2 {
	font-size: 22px;
	color: #b83445;
	text-shadow: 0.5px 0.5px 1px grey;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.autor-bio h3 {
	font-size: 18px;
	text-shadow: 0.3px 0.3px 0.5px grey;
	text-align: justify;
	line-height: 1.4;
}

.books-list-block {
	margin-top: 25px;
}

.books-list-block h2 {
	font-size: 20px;
	color: #b83445;
	text-shadow: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.books-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.each-book img {
	max-height: 280px;
	box-shadow: 1px 1px 1px gray;
	margin-top: 25px;
}

.colDidaticos img {
	max-height: 560px;
	box-shadow: 0px 0px 0px gray;
}

.colDidaticos i {
	font-style: italic;
}

.distr {
	width: 49.5%;
}

.distribuidor span {
	font-size: 15px;
}

.distr-bold {
	color: #b83445;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
