.categoria-livro {
	background-color: white;
	border-radius: 10px;
	margin-top: 0px;
	padding: 30px 30px 0px 30px;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 0px 0px gray;
	width: 100%;
}

.livro-descr {
	padding: 30px 30px;
	text-align: justify;
}

.livro-container {
	background-color: white;
	border-radius: 10px;
	margin-top: 20px;
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 2px 2px 3px gray;
	width: 100%;
}

.livro-container h6 {
	font-weight: 600;
	font-size: 22px;
	color: #b83445;
	text-shadow: 0.8px 0.8px 1px gray;
	margin-top: 0;
}

.livro-container h4 {
	font-weight: 600;
	font-size: 24px;
	color: #b83445;
	text-shadow: 1px 1px 1px gray;
	margin-top: 0;
}

.livro-container h5 {
	font-weight: 600;
	color: #b83445;
}

.livro-container a {
	color: #b83445;
}

.livro-container .span-cat {
	font-weight: 600;
	color: black;
}

.categoria-capa {
	width: 35%;
	display: flex;
	justify-content: center;	
}

.livro-container img {
	max-width: 100%;
	max-height: 230px;
}

.livro-info {
	width: 60%;
	padding-left: 10px;
	margin: auto 0px;
}

.maiusculas {
	color: white;
	padding: 2px 25px;
	background-color: #b83445;
}

.destaque {
	color: #237C6B;
}

.nopadding {
	padding-top: 0px;
}

@media only screen and (max-width:925px) {
	.categoria-livro {
		flex-direction: column;
		padding: 0px 0px 0px 0px;
		align-items: center;
	}

	.categoria-capa {
    	width: 100%;
	}

	.livro-info {
    	width: 100%;
		padding-top: 10px;
	}

	.maiusculas {
		padding: 2px 3px;
		font-size: 12px;
	}

	.livro-descr {
	    padding: 30px 0px;
	    text-align: justify;
	}
}
