html {
    font-size: 14px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #373d5d;
	line-height: 1.4;
	background-color: #E8E9F3;
}

.no-pad {
	padding: 0px;
}

/* header and navbar settings */
header {
	margin-bottom: 100px;
}

.navbar {
	border-bottom: 3px solid #e3e652;
	min-height: 90px;
}

.navbar-brand {
	margin-right: 0px;
}

.navbar-toggler {
	margin-right: 14px;
}

.logo_name {
	width: 78%;
	max-width: 380px;
	font-family: 'Yellowtail', cursive;
	font-size: 1.6rem;
}

.logo {
	max-width: 100%;
	max-height: 80px;
}

.nav-item {
	font-size: 16px;
}

/* main pages' blocks settings*/
.main-page {
	padding: 0px;
	width: 100%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.col {
	flex-basis: auto;
	width: 100%;
}

.chamada {
	border-top: 3px solid #e3e652;
	border-bottom: 3px solid #e3e652;
	margin-top: 0px;
	color: white;
	padding: 30px 30px;
	background-color: #373d5d;
}

.chamada h1 {
	font-size: 20px;
	text-align: justify;
}

.destaques {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 340px;
}

.each-dest {
	width: 100%;
	margin-top: 30px;
	height: 375px;
	transition: all 500ms;
}

.each-dest:hover, .each-dest:focus {
	text-decoration: none;
	transform: scale(1.03);
}

.each-dest img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.each-dest div {
	width: 100%;
	position: relative;
	bottom: 65px;
	display: flex;
	justify-content: center;
	padding: 15px;
	background-color: #0687ab;
	color: white;
}

.dest-span {
	font-size: 16px;
}

/* footer settings */
footer {
	background-color: #373d5d;
	width: 100%;
	color: white;
	margin-top: 30px;
	border-top: 3px solid #e3e652;
	padding: 30px 30px 20px 30px;
}

footer h7 {
	font-size: 12px;
}

footer .col {
	margin-top: 20px;
}

.emerg-but {
	width: 245px;
	height: 100px;
	background-color: #c15354;
	display: flex;
	justify-content: space-around;
	color: white;
	padding: 15px;
	margin: 0px auto;
	border-radius: 5px;
}

.emerg-but:hover, .emerg-but:focus {
	text-decoration: none;
	background-color: #c14444;
	color: white;
}

.emerg-text {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.contato h6 {
	color: white;
	margin-top: 22px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	header {
		margin-bottom: 106px;
	}
	.navbar-brand {
		margin-right: 1rem;
	}

	.navbar-toggler {
		margin-right: 0px;
	}

	.each-dest {
		height: 540px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header {
		margin-bottom: 90.83px;
	}
	
	.logo_name {
		width: 40%;
		
	}

	.col {
		width: 32%;
	}

	.each-dest {
		width: 30%;
	}

	.destaques {
		min-height: 290px;
	}

	.each-dest {
		height: 250px;
	}

	footer .col {
		margin-top: 0px;
	}

	.info-box {
		justify-content: space-between;
	}

	.info-pic {
		width: 48%;
		height: 380px;
	}

	.info-tb {
		padding: 30px 35px;
	}

	.info-text {
		font-size: 24px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header {
		margin-bottom: 125px;
	}

	.navbar {
		height: 125px;
	}

	.logo_name {
		height: 110px;
		width: auto;
	}

	.logo {
		max-height: 98%;
	}

	.chamada {
		border-top: 3px solid #e3e652;
		border-bottom: 3px solid #e3e652;
		margin-top: 0px;
		color: white;
		padding: 30px 110px;
		background-color: #373d5d;
	}

	.chamada h1 {
		font-size: 30px;
	}

	.destaques {
		min-height: 375px;
	}
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



}
