body, html {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/bgapuka.jpg);
	background-color: #83ccb1;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.modal-lg {
	max-width: 100%;
}

.modal-content {
	background-image: url(../images/parallax/layer0.png);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
	min-height: 560px;
	max-height: 560px;
}

.modal-body {
	padding: 0px;
	overflow:  hidden;
}

.modallayers img {
	width: 170%;
	position: relative;
	top: 240px;
	left: -185px;
	overflow: hidden;
}

.birdlayer img {
	-webkit-animation: birds 40s linear 0s infinite; /* Safari 4.0 - 8.0 */
	animation: birds 40s linear 0s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes birds {
	0%	{left: 100px; top: 120px; opacity:0;}
	5%	{opacity:1;} 
	95%	{opacity:1;}
	100%	{left: -900px; top: 140px; opacity:0;}
}

@keyframes birds {
	0%	{left: 100px; top: 140px; opacity:0;}
	5%	{opacity:1;} 
	95%	{opacity:1;}
	100%	{left: -900px; top: 160px; opacity:0;}
}

.treelayer img {
	width: 180%;
	left: -180px;
}

.modalbutton {
	position: absolute;
	top: 90px !important;
	left: 0px !important;
	font-family: 'Handlee', cursive;
}

.modalbutton h2 {
	font-size: 22px;
}

.modalbutton img {
	width: 50%;
}

.navbar-brand {
	height: 90px;
}

.logoeditorial {
	height: 100%;
}

.nav-link {
	padding: 20px 25px !important;
	margin: 10px 10px;
	font-family: 'Handlee', cursive;
	font-size: 24px;
	font-weight: bold;
	color: white;
	border-radius: 20px;
}

.nav-link:hover {
	font-style: none;
	color: white;
}

.nl1 {
	background-color: #80b728;
	box-shadow: 3px 3px 3px rgba(128,183,40,0.5), -3px -3px 3px rgba(128,183,40,0.2);
}

.nl2 {
	background-color: #8668b0;
	box-shadow: 3px 3px 3px rgba(134,104,176,0.5), -3px -3px 3px rgba(134,104,176,0.2);
}

.nl3 {
	background-color: #ffdf00;
	box-shadow: 3px 3px 3px rgba(255,223,0,0.5), -3px -3px 3px rgba(255,223,0,0.2);
}

.nl4 {
	background-color: #408fc7;
	box-shadow: 3px 3px 3px rgba(64,143,199,0.5), -3px -3px 3px rgba(64,143,199,0.2);
}

.nl1:hover {
	background-color: #639314;
}

.nl2:hover {
	background-color: #674596;
}

.nl3:hover {
	background-color: #C6AE00;
}

.nl4:hover {
	background-color: #2179B7;
}


.carousel-item img {
	border-radius: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.modal-content {
		background-image: url(../images/parallax/layer0.png);
		background-repeat: no-repeat;
		overflow: hidden;
		background-size: 100% 100%;
		min-height: 615px;
		max-height: 615px;
	}


	.modallayers img {
		width: 101%;
		position: relative;
		top: -170px;
		overflow: hidden;
	}


	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes birds {
		0%	{left: 100px; top: -180px; opacity:0;}
		5%	{opacity:1;} 
		95%	{opacity:1;}
		100%	{left: -900px; top: -100px; opacity:0;}
	}

	@keyframes birds {
		0%	{left: 100px; top: -180px; opacity:0;}
		5%	{opacity:1;} 
		95%	{opacity:1;}
		100%	{left: -900px; top: -100px; opacity:0;}
	}

	.treelayer img {
		width: 105%;
		left: -27px;
	}

	.modalbutton {
		position: absolute;
		top: 90px !important;
		left: 0px !important;
		font-family: 'Handlee', cursive;
		font-size: 24px;
	}

	.modalbutton h2 {
		font-size: 30px;
	}

	.modalbutton img {
		width: 50%;
	}

	

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}



